[submodule "external/vendor/ShadPKG"]
	path = external/vendor/ShadPKG
	url = https://github.com/seregonwar/ShadPKG.git
[submodule "external/vendor/010GameTemplates"]
	path = external/vendor/010GameTemplates
	url = https://github.com/Nenkai/010GameTemplates.git
[submodule "external/vendor/DriveClubFS"]
	path = external/vendor/DriveClubFS
	url = https://github.com/Nenkai/DriveClubFS.git
[submodule "external/vendor/LibOrbisPkg"]
	path = external/vendor/LibOrbisPkg
	url = https://github.com/OpenOrbis/LibOrbisPkg.git
